    body {
      background-color: #282C34;
    }
    h1 {
      font-weight: bold;
      font-size: 36px;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 30px;
      color: white;
    }
    .logo {
      position: absolute;
      top: 0;
      left: 0;
      margin: 10px;
      max-height: 50px;
    }
    form {
      max-width: 500px;
      margin: 0 auto;
      background-color: #1F2226;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
      margin-top: 80px; /* added margin to make space for the logo */
    }
    label {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 5px;
      color: #F95109
    }
    input[type="text"] {
      width: 100%;
      padding: 12px 20px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 16px;
    }
    input[type="submit"] {
      background-color: #F95109;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }
    input[type="submit"]:hover {
      background-color: #F95109
    }
    .error {
      color: red;
      margin-top: 10px;
      text-align: center;
    }